body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    color: #FFFFFF;
}

a{
    color: #BABABA;
    text-decoration: none;
}

#heros-bar{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('images/lpi.jpg');
    background-size: cover;
    background-position: center;
}



button{
    margin-left: 100px;
    width: 150px;
    height: 50px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

}
.nav-links{
    display: flex;
}

nav a{
    margin-left: 20px;
}

nav a:hover{
    color: #FFFFFF;
}
nav h2{
    color: #FFFFFF;
    font-size: 24px;
}

.reach-me-btn{
    font-weight: bold;
    background-color: #B2FF40;
}

.reach-me-btn:hover{
    font-weight: bold;
    color:  #000000;
    background-color: #FFFFFF;
}

.download-cv-btn{
    margin: 0px;
    margin-top: 40px;
    font-weight: bold;
    background-color: #000000;
    border: #B2FF40 solid 1px;
    color: #ffffff;

}

.download-cv-btn:hover{
    background-color: #B2FF40;
    color: #000000;
    cursor: pointer;
}

.hero-content{
    position: absolute;
    top: 20%;
    left: 10%;
    color: #FFFFFF;
}

.hero-content h1{
    width: 27%;
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 2.5rem;
}
.hero-content p{
    width: 40%;
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5rem;
}

.hero-side-text{
    position: absolute;
    text-align: right;
    bottom: -90%;
    right: 95px;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    box-sizing: border-box;
}

.programming{
    color: #B2FF40;
}
.creative{
    color: #B2FF40;
    font-size: 3.5rem;
}


#my-tools-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
    height: auto;
    background-color: #000000;
}



.my-tools p{
    width: 65%;
    margin: 0px auto;
    line-height: 25px;
    margin-bottom: 30px;
    color: #BABABA;
}

.about-me p{
    color: #BABABA;
    line-height: 25px;
}


.tool-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.tool{
    margin: 30px;
}


#about-me-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
    height: 600px;
    background-color: #000000;
}


.about-me{
    width: 30%;
    text-align: left;
    margin-left: 60px;
}

.about-me h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 2.5rem;
}

.read-more-btn{
    margin: 0px;
    margin-top: 40px;
    font-weight: bold;
    background-color: #000000;
    border: #B2FF40 solid 1px;
    color: #ffffff;
}
.read-more-btn:hover{
    background-color: #B2FF40;
    color: #000000;
    cursor: pointer;
}

#projects-container{
    padding: 0px 10%;
}

.project-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #000000;

}

.project-header h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 2.5rem;
}

.project-header p{
    font-size: 1.5rem;
    margin-bottom: 60px;
    color: #BABABA;
}

.view-all-btn{
    margin: 0px;
    font-weight: bold;
    background-color: #000000;
    border: #B2FF40 solid 1px;
    color: #ffffff;
}

.view-all-btn:hover{
    background-color: #B2FF40;
    color: #000000;
    cursor: pointer;
}

.project-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background-color: #000000;
}

.project-card h2{
    font-size: 2rem;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.card{
    width: 450px;
    height: 600px;
    background-color: #131313;
    border: #2f2f2f solid 1px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.01);
    border: #505050 solid 1px;
}

.card p{
    font-size: 1rem;
    line-height: 25px;
}

#card1{
    background-image: url('images/simplecal.png');
    background-size: cover;
    background-position: center;
}

#card2{
    background-image: url('images/todoapp.png');
    background-size: cover;
    background-position: center;
}

#card3{
    background-image: url('images/management.png');
    background-size: cover;
    background-position: center;
}

#card4{
    background-image: url('images/blog.png');
    background-size: cover;
    background-position: center;
}

#card5{
    background-image: url('images/magzine.png');
    background-size: cover;
    background-position: center;
}

#card6{
    background-image: url('images/modeling.png');
    background-size: cover;
    background-position: center;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;
    text-align: left;
    padding: 100px 10%;
    background-color: #000000;
}

.footer-links ul{
    text-decoration: none;
    background-color: greenyellow;
}

/* end of index page*/


#about-me{
    
    background-image: url('images/lpi.jpg');
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.about-content{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    
}

.about-text{
    padding-left: 50px;
}

.about-content h1{
    width: 100%;
    font-size: 3.5rem;
    margin-bottom: 20px;
    line-height: 2.5rem;
}

.about-text h3{
    font-weight: lighter;
    line-height: 30px;
    color: #B2FF40;
}

#about-me-details {
    width: 60%;
    box-sizing: border-box;
    margin: auto;

}

#about-me-details p{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    text-align: justify;
    
}